Dockerfile export-ignore
docker-compose.yml export-ignore
Makefile export-ignore
phpunit.xml.dist export-ignore
composer.lock export-ignore
.tool-versions export-ignore
.idea/** export-ignore
.github/** export-ignore
tests/** export-ignore
